body, p, ul {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1f2937;
    color: white;
    padding: 16px 80px;
}

.navbar, .hero {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    padding-top: 10px;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
}

a {
    color: #e5e7eb;
    text-decoration: none;
}

.hero-img {
    max-width: 440px;
    height: auto;
}

.left-hero {
    width: 500px;
    height: auto;
}

.main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
    max-width: 400px;
    padding-bottom: 10px;
}

button {
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 18px;
    font-weight: bold;
}

.secondary-text {
    padding-bottom: 26px;
}